[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pandas = "*"
openpyxl = "*"
co = "*"
tk = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
